spring:
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  rabbitmq:
    host: ${RABBIT_HOST}
    port: ${RABBIT_PORT}
    username: ${RABBIT_USERNAME}
    password: ${RABBIT_PASSWORD}
  r2dbc:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 8080

logging:
  level:
    org.springframework.r2dbc: DEBUG
    io.asyncer.r2dbc.mysql: DEBUG
  application:
    name: customers-persons-ms
